<div class="container text-center" style="margin: 20px;">
    <div class="row">
      <div class="col">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17468.24354413884!2d76.37206860380527!3d10.010342916795706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1765517859266!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
      </div>
      <div class="col" style="align-content: center;">
        NEST DIGITAL,Edachira,Near Info park,Kakkanad
      </div>
    </div>
  </div>