<p>form works!</p>
<form style="width:300px; padding:20px; background:#f2f2f2; border-radius:10px;align-content: center;margin-left: 50px;">
    <label>Name:</label>
    <input type="text" style="width:100%; padding:8px; margin:5px 0;" placeholder="Enter your name">

    <label>Email:</label>
    <input type="email" style="width:100%; padding:8px; margin:5px 0;" placeholder="Enter your email">

    <label>Message:</label>
    <textarea rows="4" style="width:100%; padding:8px; margin:5px 0;" placeholder="Type your message"></textarea>

    <button type="submit" style="width:100%; padding:10px; background:black; color:white; border:none; cursor:pointer;">
        Submit
    </button>
</form>

